header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    position: absolute;
    background-color: darkseagreen;
    border: double 1rem;
    border-radius: 50% / 60% ;
    width: 90%;
}
@media (max-width: 900px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        position: fixed;
        background-color: darkseagreen;
        border: double 1rem;
        width: 90%;
    }
}
@media (max-width: 850px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        padding: 10px;
        position: fixed;
        background-color: darkseagreen;
        border: double 10px;
        width: 80%;
    }
}
@media (max-width: 750px){
    header{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 7px;
        padding: 7px;
        position: fixed;
        background-color: darkseagreen;
        border: double 7px;
        width: 90%;
    }
}
@media (max-width: 600px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        padding: 5px;
        position: fixed;
        background-color: darkseagreen;
        border: double 5px;
        width: 90%;
    }
}
.a{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
}
a{
    font-family: "Pacifico", cursive;
    font-style: oblique ;
    font-size: 20px;
}
.name{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: oblique;
    border: 10px solid aquamarine;
    border-radius: 25% / 70%;
    background-color: coral;
}
.num1{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin-top: 20%;
}
#BB{
    
    width: 40px;
    height: 40px;
}
.DD{
    color: #747474;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 260px;
    padding-right: 280px;
    width: 100%;
    justify-content: space-between;
}
.p1{
    padding: 1%;
}
p{
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;    
}
.num2{
    align-items: center;
    gap: 2.5rem;
    padding: 1.375em 1.25em 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 3.75rem auto 2.5rem;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    position: absolute;
}
.ii{
    width: 30px;
    height: 30px;
}
